# Database Configuration (Supabase PostgreSQL) (IPv6)
# DB_HOST=db.eyfydthflnsrzcmbnlnw.supabase.co
# DB_USER=postgres
# DB_PASSWORD=
# DB_PORT=5432
# DB_NAME=postgres
# DATABASE_URL=postgresql://postgres:[password]@db.eyfydthflnsrzcmbnlnw.supabase.co:5432/postgres

# DB Config (IPv4)
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.eyfydthflnsrzcmbnlnw
DB_PASSWORD=
DATABASE_URL=postgresql://postgres.eyfydthflnsrzcmbnlnw:[password]@aws-1-us-east-2.pooler.supabase.com:5432/postgres

# External APIs
NEWSDATA_API_KEY=
FINANCE_DATA_KEY=

# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development

VITE_GOOGLE_CLIENT_ID=353106949537-1ge36i1unu234poq8bbgi7h2c5mpn7ie.apps.googleusercontent.com
# Google OAuth CID
VITE_API_URL=http://localhost:5000
GOOGLE_CLIENT_ID=353106949537-1ge36i1unu234poq8bbgi7h2c5mpn7ie.apps.googleusercontent.com

# Alert Email Configuration
ALERT_EMAIL=Stockiq.alerts@gmail.com
ALERT_EMAIL_PASSWORD=

# AI News Summary
GEMINI_API_KEY=

# Email Configuration
SMTP_SERVER=smtp.gmail.com # tells Python, "Go to Google's mail server."
SMTP_PORT=587 # tells Python, "Use port 587, which is the standard secure door for sending emails."
SMTP_USERNAME=Stockiq.alerts@gmail.com # same as our alerts email
SMTP_PASSWORD= # same as our alerts password
FRONTEND_URL=http://localhost:5173 # used as part of the query to redirect the user to their reset password page