#your backend/ .env file should look like this

# Database Configuration (Supabase PostgreSQL) (IPv6)

# DB_HOST=db.eyfydthflnsrzcmbnlnw.supabase.co

# DB_USER=postgres

# DB_PASSWORD=uXL7rd2WAq1pX2B4

# DB_PORT=5432

# DB_NAME=postgres

# DATABASE_URL=postgresql://postgres:uXL7rd2WAq1pX2B4@db.eyfydthflnsrzcmbnlnw.supabase.co:5432/postgres



# DB Config (IPv4)

DB_HOST=aws-1-us-east-2.pooler.supabase.com

DB_PORT=5432

DB_NAME=postgres

DB_USER=postgres.eyfydthflnsrzcmbnlnw

DB_PASSWORD=kp7hr5j1JjGx0Oo3

DATABASE_URL=postgresql://postgres.eyfydthflnsrzcmbnlnw:kp7hr5j1JjGx0Oo3@aws-1-us-east-2.pooler.supabase.com:5432/postgres







# External APIs

NEWSDATA_API_KEY=pub_b502b237e6b44be7aabc33120e5df8d4

FINANCE_DATA_KEY=SWVIRcFjinQccusDPv1vwYsiyB5APvQn



# Flask Configuration

FLASK_APP=app.py

FLASK_ENV=development



# Google OAuth CID

GOOGLE_CLIENT_ID=353106949537-1ge36i1unu234poq8bbgi7h2c5mpn7ie.apps.googleusercontent.com