# db configuration
# setup: copy this file to backend/.env and fill in values (password will be provided to you by Lance)
DB_HOST=db.eyfydthflnsrzcmbnlnw.supabase.co
DB_USER=postgres
DB_PASSWORD=YOUR_PASSWORD_HERE
DB_PORT=5432
DB_NAME=postgres


